.main-wrapper {
  width: 380px;
  background: #222525;

  .tab {
    overflow: hidden;
    background-color: #18191b;
    display: flex;
    flex-direction: row;
  }

  .tab button {
    opacity: 0.5;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.03em;
    flex-grow: 1;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #e2e2e2;
  }

  .tab button:hover {
    opacity: 1;
    background-color: #27292a;
  }

  .tab button.active {
    opacity: 1;
    background-color: #222525;
  }
}
