<div class="container mt-4">
  <div class="row spacer">
    <div class="col">
      <button mat-button mat-flat-button (click)="findAllElements()">
        Scan Elements
      </button>
    </div>
    <div class="col">
      <span *ngIf="allElementsArray">
        Found: {{ allElementsArray.length }} elements on the page
      </span>
    </div>
  </div>

  <div class="row spacer">
    <div class="col">
      <button mat-button mat-flat-button (click)="toggleHtml()">
        Show HTML
      </button>
    </div>
    <div class="col">
      <span>You can see scanned HTML</span>
    </div>
  </div>

  <div class="row" *ngIf="showHtml">
    <div class="col">
      <mat-form-field>
        <textarea
          matInput
          rows="10"
          cols="50"
          [(ngModel)]="allElements"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <form [formGroup]="requestForm" (ngSubmit)="sendRequest()">
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <input
          matInput
          type="text"
          formControlName="pageObjectName"
          required
        />
        <mat-label>Give a name to PageObject</mat-label>
      </mat-form-field>
    </div>
    <div class="row spacer">
      <mat-form-field class="input-half" appearance="outline">
        <mat-select
          placeholder="Select System Message"
          formControlName="systemMessage"
        >
          <mat-option
            *ngFor="let message of systemMessages | async"
            [value]="message.content"
          >{{ message.title }}
          </mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field class="input-half" appearance="outline">
        <mat-select
          placeholder="Select User Prompt"
          formControlName="userPrompt"
        >
          <mat-option
            *ngFor="let message of userPrompts | async"
            [value]="message.content"
          >{{ message.title }}
          </mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row mt-1">
      <div class="col">
        <mat-form-field class="input-full" appearance="outline">
            <textarea
              matInput
              rows="5"
              cols="50"
              formControlName="customPrompt"
            ></textarea>
          <mat-label>More Details</mat-label>
        </mat-form-field>
      </div>
    </div>

    <div class="row no-marging">
      <div class="col">
        <button mat-button mat-flat-button type="submit">Create Page Object</button>
      </div>
    </div>

    <div class="controller" *ngIf="!pageObject && modelAsked">
      <h1>Waiting for response from AI</h1>
    </div>

    <div class="row mt-4" *ngIf="pageObject">
      <div
        prism
        language="typescript"
        [content]="pageObject"
        class="preview ghcolors prism-holder"
      ></div>
    </div>
  </form>
<mat-progress-bar *ngIf="loaderVisible" mode="indeterminate"></mat-progress-bar>
<!--  <mat-progress-spinner color="primary" *ngIf="loaderVisible"-->
<!--                        mode="indeterminate"></mat-progress-spinner>-->
</div>
