@use '@angular/material' as mat;
@import "./prismjs-theme.css";


$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Comic Sans',
    bold-weight: 900
  ),
));
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 480px;
  font-size: 16px;
  background: #eeeeee;
  @include mat.all-component-themes($theme);
  .container{
    margin: 0 10px;
  }
}

html {
  height: 100%;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
