.controller {
  margin: 20px;
}

.spacer {
  display: flex;
  justify-content: space-between;
}

.row {
  margin-top: 15px;

  span {
    line-height: 40px;
  }

  &.no-marging {
    margin: 0;
  }
}
