.tab {
  padding: 20px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

label {
  font-size: 14px;
}


.code {
  font-size: 15px;
  padding: 0 8px;
  background-color: #424242b8;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.row {
  margin-top: 15px;
  span{
    line-height: 40px;
  }
  &.no-marging{
    margin: 0;
  }
  &.actions{
    button{
      margin-right: 10px;
    }
  }
}


form{
margin-top: 15px;
}

.spacer{
  display: flex;
  justify-content: space-between;
}
.input-full{
  width: 100%;
}
.input-half{
  width: 45%;
}
