<mat-progress-bar *ngIf="loaderVisible" mode="indeterminate"></mat-progress-bar>
<div class="container">
  <form [formGroup]="configForm" (ngSubmit)="saveConfig()">
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <input matInput size="sm" [required]="true" formControlName="attributeId">
        <mat-label>Set E2E Attribute => [a-Z,0-9,-,_]</mat-label>
        <mat-hint>Enter E2E Attribute Name</mat-hint>
        <mat-error>Attribute is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-checkbox size="sm" formControlName="includeShadowDom">
        <mat-label>Include Shadow Dom (beta)</mat-label>
      </mat-checkbox>
    </div>
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <mat-label>Select AI Instance</mat-label>
        <mat-hint>Select what instance you want to interact with</mat-hint>
        <mat-select size="sm" formControlName="instanceType">
          <mat-option value="AzureAI">AzureAI</mat-option>
          <mat-option value="OpenAI">OpenAI/Llama</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <input matInput size="sm" formControlName="apiEndPoint">
        <mat-label>AI EndPoint <small>for on-prem Models</small></mat-label>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <input matInput formControlName="openAIKey" [type]="hideApi ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideApi = !hideApi">{{hideApi ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-label>OpenAI API Key</mat-label>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="input-full" appearance="outline">
        <input matInput size="sm" formControlName="modelName">
        <mat-label>Model Name <small>gpt-4-turbo / gpt-4o / llama3</small></mat-label>
        <mat-error>Model is required</mat-error>
      </mat-form-field>
    </div>
    <div class="row no-marging actions">
      <button mat-button mat-flat-button type="submit">Save</button>
      <button mat-button mat-flat-button type="button" (click)="testSettings()">Test Settings</button>
    </div>
  </form>
</div>

<!--<dds-modal size="md" #modal>-->
<!--  <dds-modal-header>Test Connection</dds-modal-header>-->
<!--  <dds-modal-body>-->
<!--    {{testResponse}}-->
<!--  </dds-modal-body>-->
<!--</dds-modal>-->
